
<mat-card>

  <mat-form-field>
    <input type="text" matInput placeholder="id" [(ngModel)]="id" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="titulo" [(ngModel)]="titulo" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="autor" [(ngModel)]="autor" />
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="numero_de_paginas" [(ngModel)]="numero_de_paginas" />
  </mat-form-field>


  <button color="primary" mat-raised-button (click)="onAdicionarLivro()">Inserir Livro</button>

</mat-card>
